.ccm-multi-file-selector {}
.ccm-multi-file-selector .items {margin:0;padding:0;}
.ccm-multi-file-selector .items li {list-style:none;background:#eee;border:1px solid #ccc;border-radius:5px;display:block;overflow:hidden;padding:4px 8px;margin:0 0 3px 0;position:relative;}

.ccm-multi-file-selector .items li .icon {float:left;background:url(/concrete/images/dashboard/sitemap/document.png) no-repeat 0 0;height:16px;width:16px;margin:0 5px 0 0;cursor:move;}
.ccm-multi-file-selector .items li .name {cursor:move;}

.ccm-multi-file-selector .items li .actions {position:absolute;right:5px;top:4px;float:right;}
.ccm-multi-file-selector .items li .actions a {text-indent:-5000px;height:16px;width:16px;float:left;margin:0 0 0 5px;}
.ccm-multi-file-selector .items li .actions a.remove {background:url(/concrete/images/icons/remove.png) no-repeat 0 0;}
.ccm-multi-file-selector .items li .actions a.details {background:url(/concrete/images/icons/magnifying.png) no-repeat 3px 3px;}


.ccm-multi-file-selector .add-file {border:1px solid #DEDEDE;padding:4px 8px;display:block;margin:8px 0;}